<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>users</title>
</head>

<style>

	table{
		background-color: beige;
	}
</style>

<body>
	<%- include('header')-%>

	<br/>
	
	


		<table class="table">
			<thead>
				<tr>
					<th scope="col">Sr.No</th>
					<th scope="col">Username</th>
					<th scope="col">Comments</th>
					<th scope="col">Time</th>

				</tr>
			</thead>
			<tbody>
				<% items.forEach(function(item,sr,date){ %>
					<tr>
						<td>
							<%= sr+1 %>
						</td>
						<td>
							<%= item.username%>
						</td>
						<td>
							<%= item.comment%>
						</td>
						<td>
							<%= item.date%>

						</td>
					</tr>
					<%})%>
			</tbody>
		</table>








</body>

<script>
</script>


</html>